body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    flex-grow:1
}

#files {
    display: block;
    margin-bottom: 10px;
}

#avatar {
    max-width: 100%;
}

#avatarInput {
    display: none;
}

#nav-avatar {
    height: 2em;
    border-radius: 40%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#trips-table{
    display: flex; 
    flex-wrap:wrap; 
    width: 100%;
    height: 1.8em;
}

#trips-table span {
    flex-grow: 1;
    flex-basis: 130px;
    text-align: left;
    white-space: nowrap;
}

.trips-list {
    padding: 32px;
}

.trips-list > div:nth-child(even){
    background-color: rgb(221, 221, 221);
}